.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title Start Giveaway
    .modal-body
      = render 'giveaways/avatars', giveaway: giveaway
      = render 'giveaways/pending/step_one', giveaway: giveaway, facebook_page: giveaway.facebook_page
      = render 'giveaways/pending/step_two', giveaway: giveaway, facebook_page: giveaway.facebook_page
      = render 'giveaways/pending/step_three', giveaway: giveaway, facebook_page: giveaway.facebook_page
    .modal-footer
      %button.btn.btn-default.deny{"data-dismiss" => "modal", type: "button"} Cancel
      - if giveaway.facebook_page.no_active_giveaways?
        %button.btn.btn-primary.approve{type: "button"}
          Next
          %i.fa.fa-arrow-right.m-l-xs
