!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p #{@user_first_name},
    %p Thanks for signing up for Giveaway Kit!
    %p Now you are able to create, deploy and manage your very own giveaway promotions for all of your Facebook pages.
    %p If you have any questions or issues please email <a href="mailto: support@simplegiveaways.com">support@simplegiveaways.com</a>.
    %p And since we are in beta right now, feel free to reach out to me directly by phone at 518-878-1558. I'll gladly offer free consultation on setting up your giveaway, tips on running Facebook ads, and other ways to make your giveaways successful and engaging.
    %p Welcome,
    %p Brian D. and the Giveaway Kit team
