%section.panel.panel-default
  .row.m-l-none.m-r-none.bg-light.lter
    .col-sm-6.col-md-3.padder-v.b-r.b-light
      %span.fa-stack.fa-2x.pull-left.m-r-sm
        %i.fa.fa-circle.fa-stack-2x.text-info
        %i.fa.fa-male.fa-stack-1x.text-white
      %a.clear{href: "#"}
        %span.h3.block.m-t-xs
          %strong 52,000
        %small.text-muted.text-uc New robots
    .col-sm-6.col-md-3.padder-v.b-r.b-light.lt
      %span.fa-stack.fa-2x.pull-left.m-r-sm
        %i.fa.fa-circle.fa-stack-2x.text-warning
        %i.fa.fa-bug.fa-stack-1x.text-white
        %span.easypiechart.pos-abt{"data-animate" => "2000", "data-line-cap" => "butt", "data-line-width" => "4", "data-percent" => "100", "data-scale-color" => "false", "data-size" => "50", "data-target" => "#bugs", "data-track-color" => "#fff", "data-update" => "3000"}
      %a.clear{href: "#"}
        %span.h3.block.m-t-xs
          %strong#bugs 468
        %small.text-muted.text-uc Bugs intruded
    .col-sm-6.col-md-3.padder-v.b-r.b-light
      %span.fa-stack.fa-2x.pull-left.m-r-sm
        %i.fa.fa-circle.fa-stack-2x.text-danger
        %i.fa.fa-fire-extinguisher.fa-stack-1x.text-white
        %span.easypiechart.pos-abt{"data-animate" => "3000", "data-line-cap" => "butt", "data-line-width" => "4", "data-percent" => "100", "data-scale-color" => "false", "data-size" => "50", "data-target" => "#firers", "data-track-color" => "#f5f5f5", "data-update" => "5000"}
      %a.clear{href: "#"}
        %span.h3.block.m-t-xs
          %strong#firers 359
        %small.text-muted.text-uc Extinguishers ready
    .col-sm-6.col-md-3.padder-v.b-r.b-light.lt
      %span.fa-stack.fa-2x.pull-left.m-r-sm
        %i.fa.fa-circle.fa-stack-2x.icon-muted
        %i.fa.fa-clock-o.fa-stack-1x.text-white
      %a.clear{href: "#"}
        %span.h3.block.m-t-xs
          %strong 31:50
        %small.text-muted.text-uc Left to exit
