- if is_current_plan

  %footer.panel-footer

    - if sub_object.subscription.cancellation_pending?

      .m-t.m-b{ data: { toggle: "popover", container: "#hover_popover_container", placement: "auto top", html: "true", trigger: "hover", title: "Cancellation Pending", content: "Will be cancelled on #{sub_object.subscription.activate_next_after}." } }
        %span.btn.btn-default.disabled.cancel-subscription<
          Cancellation Pending

    - else

      = link_to 'Unsubscribe', user_unsubscribe_path(current_user), class: 'btn btn-default m-t m-b cancel-subscription'

- elsif is_next_plan

  - if sub_object.subscription.downgrade_pending?

    %footer.panel-footer

      .m-t.m-b{ data: { toggle: "popover", container: "#hover_popover_container", placement: "auto top", html: "true", trigger: "hover", title: "Downgrade Pending", content: "Will be downgraded on #{sub_object.subscription.activate_next_after}." } }
        %span.btn.btn-default.disabled.cancel-subscription<
          Downgrade Pending

- else

  %footer.panel-footer
    %span.btn.btn-primary.m-t.m-b Get Started
