- if is_current_plan && subscription_plan.is_multi_page?

  %li.list-group-item.pages.currently-subscribed-msg
    %h5.ui.icon.header
      %i.info.icon
      You are currently subscribed to this plan.

- else

  = render 'subscription_plans/pages_form', subscription_plan: subscription_plan, is_current_plan: is_current_plan, is_next_plan: is_next_plan, sub_object: sub_object
