#{@user_first_name},

#{@giveaway.title} has been successfully published to the #{@giveaway.facebook_page.name} Facebook Page.

Here's a link:
#{@giveaway.giveaway_url}

Here are some next steps to consider...

1. Click the above link. On your page, in the area right below your cover photo (that lists all of your page's favorites), you are able to rearrange the display order. Just click the pencil icon and choose the item that you want it to switch positions with.

2. Be sure to let your current fans know about the giveaway by posting a status update.

3. Experiment with some Facebook ads to lend your giveaway some extra juice.

4. Contact relevant blogs to promote your giveaway.

Good luck!

Brian D. and the Simple Giveaways team
