.bs-callout.bs-callout-info
  %h4 Terms &amp; Conditions
  %p Please provide either a URL or the full text of the Terms &amp; Conditions.

= f.input :terms_url, as: :string, label: 'Terms URL', input_html: { placeholder: 'Terms URL' }
= f.input :terms_text, as: :text, label: 'Terms Text', input_html: { placeholder: 'Terms Text' }
