%li.dropdown.actions-dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    <i class='fa fa-cog text-default m-r-xs'></i>Actions <b class='caret'></b>
  %ul.dropdown-menu.text-left
    %li= link_to '<i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Giveaway'.html_safe, edit_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), id: 'edit_giveaway'
    - if giveaway.canhaz_giveaway_shortlink?
      %li= link_to '<i class="fa fa-copy"></i>&nbsp;&nbsp;Copy Shortlink'.html_safe, '#', class: 'zclip-trigger', 'data-clipboard-text' => giveaway.shortlink
    %li= link_to "<i class='fa fa-facebook-square'></i>&nbsp;&nbsp;View on Facebook".html_safe, giveaway.giveaway_url, target: "_blank"
    %li.divider
    %li.text-danger= link_to '<i class="fa fa-legal"></i>&nbsp;&nbsp;End Now'.html_safe, end_facebook_page_giveaway_path(giveaway.facebook_page, giveaway), class: 'end-giveaway-button text-danger'
