.inner
  %h1= link_to image_tag('logo.png', alt: 'Simple Giveaways'), root_path

  #primary_content
    %a#sc-facebook-container-inPage.sc-facebook-container.sc-widget-container{href: '/auth/facebook'}
      .sc-widget-content Easily create, deploy, and manage giveaways on your Facebook pages.
      #sc-facebook-button-inPage.sc-widget-button
        .uibutton.large.facebook Sign In with Facebook
      .sc-widget-logo
      .sc-widget-bottom

  %footer= "&copy; #{Time.now.year} Cherimoya".html_safe
