%section#content
  .bg-primary.dk
    .text-center.wrapper
      .m-t-xl.m-b-xl
        .text-uc.h1.font-bold.inline.headline
          .text-white
            Giveaways
            %span.font-thin.text-muted Made
            Easy
        .h4.text-muted.m-t-sm Create, Deploy & Manage Giveaways without a Social Media Expert
      .buttons.text-center.m-b-xl
        %a.btn.btn-lg.btn-dark.b-white.bg-empty.m-sm{href: "/auth/facebook"} Sign Up with Facebook
        %a.btn.btn-lg.btn-warning.b-white.bg-empty.m-sm{href: "index.html", target: "_blank"} See an Example
    .padder
      .hbox
        %aside.col-md-3.v-bottom.text-right
          .hidden-sm.hidden-xs
            %section.panel.bg-dark.inline.m-b-n-lg.m-r-n-lg.aside-sm.no-border.device.phone.animated.fadeInLeftBig
              %header.panel-heading.text-center
                %i.fa.fa-minus.fa-2x.m-b-n-xs.block
              %div
                .m-l-xs.m-r-xs
                  = image_tag 'phone-2.png', class: 'img-full'
        %aside.col-sm-10.col-md-6
          %section.panel.bg-dark.m-b-n-lg.no-border.device.animated.fadeInUp
            %header.panel-heading.text-left
              %i.fa.fa-circle.fa-fw
              %i.fa.fa-circle.fa-fw
              %i.fa.fa-circle.fa-fw
            = image_tag 'main.png', class: 'img-full'
        %aside.col-md-3.v-bottom
          .hidden-sm.hidden-xs
            %section.panel.bg-light.m-b-n-lg.m-l-n-lg.aside.no-border.device.phone.animated.fadeInRightBig
              %header.panel-heading.text-center
                %i.fa.fa-minus.fa-2x.text-white.m-b-n-xs.block
              %div
                .m-l-xs.m-r-xs
                  = image_tag 'phone-1.png', class: 'img-full'
    .dker.pos-rlt
      .container.wrapper
        .m-t-lg.m-b-lg.text-center
          %p.lead
            = succeed "." do
              The first giveaway for each Facebook Page is
              %span.f-w-600 free
  #about
    .container
      .m-t-xl.m-b-xl.text-center.wrapper
        %h3 Spend less time managing your giveaways
        %p.text-muted
          %strong Giveaway Kit
          enables you to get up and running quickly.
      .row.m-t-xl.m-b-xl.text-center
        .col-sm-4{"data-animation" => "fadeInLeft", "data-delay" => "300", "data-ride" => "animated"}
          %p.h3.m-b-lg
            %i.fa.fa-coffee.fa-3x.text-info
          %div
            %h4.m-t-none We Do the Work
            %p.text-muted.m-t-lg Something about how we have less features so that you don't have to make every single choice.  We filter options and strategies into only the ones that actually work.
        .col-sm-4{"data-animation" => "fadeInLeft", "data-delay" => "600", "data-ride" => "animated"}
          %p.h3.m-b-lg
            %i.fa.fa-magic.fa-3x.text-info
          %div
            %h4.m-t-none We Make it Shine
            %p.text-muted.m-t-lg Something about how we make your giveaway pretty so that you don't need a graphic designer.  We take your uploaded image and make a beautiful giveaway entry form.
        .col-sm-4{"data-animation" => "fadeInLeft", "data-delay" => "900", "data-ride" => "animated"}
          %p.h3.m-b-lg
            %i.fa.fa-bullseye.fa-3x.text-info
          %div
            %h4.m-t-none We Keep it Simple
            %p.text-muted.m-t-lg Something about how we have very simple pricing plans and/or feature sets.  You don't have to become a 'special partner' or call us to get the features you want.
      .m-t-xl.m-b-l.text-center.wrapper
  #responsive.bg-dark
    .text-center
      .container
        .m-t-xl.m-b.wrapper
          %h3.text-white Gain more than just fans — reach new customers
          %p
            %strong Giveaway Kit
            enables you to lower your customer acquisition costs.
        .row.m-t.m-b-xl
          .col-sm-4.wrapper-l{"data-animation" => "fadeInLeft", "data-delay" => "300", "data-ride" => "animated"}
            %p.text-center.h2.m-b-lg.m-t-lg
              %span.fa-stack.fa-2x
                %i.fa.fa-circle.fa-stack-2x.text-dark
                %i.fa.fa-thumbs-o-up.fa-stack-1x.text-muted
            %div
              %h4.m-t-none Like
              %p.text-muted.m-t-lg A description of the state of the customer at the point at which they Like your page.
          .col-sm-4.wrapper-l{"data-animation" => "fadeInLeft", "data-delay" => "600", "data-ride" => "animated"}
            %p.text-center.h2.m-b-lg.m-t-lg
              %span.fa-stack.fa-2x
                %i.fa.fa-circle.fa-stack-2x.text-dark
                %i.fa.fa-user.fa-stack-1x.text-muted
            %div
              %h4.m-t-none Fan
              %p.text-muted.m-t-lg A description of the state of the customer at the point at which they have Liked your page.
          .col-sm-4.wrapper-l{"data-animation" => "fadeInLeft", "data-delay" => "900", "data-ride" => "animated"}
            %p.text-center.h2.m-b-lg.m-t-lg
              %span.fa-stack.fa-2x
                %i.fa.fa-circle.fa-stack-2x.text-dark
                %i.fa.fa-usd.fa-stack-1x.text-muted
            %div
              %h4.m-t-none Customer
              %p.text-muted.m-t-lg A description of the state of the customer at the point at which they have been a fan for a while.
        .m-t-xl.m-b-l.text-center.wrapper
  #newsletter.bg-white.clearfix.wrapper-lg
    .container.text-center.m-t-xl.m-b-xl{"data-animation" => "fadeIn", "data-ride" => "animated"}
      %h2 Newsletter
      %p For special offers and tips on running successful giveaways.
      %form.form-inline.m-t-xl.m-b-xl
        .form-group
          %input.form-control.input-lg{"data-animation" => "fadeInLeftBig", "data-delay" => "300", "data-ride" => "animated", placeholder: "Your email"}/
        %button.btn.btn-default.btn-lg{"data-animation" => "fadeInRightBig", "data-delay" => "600", "data-ride" => "animated", type: "submit"} Subscribe