= stylesheet_link_tag 'http://i.icomoon.io/public/temp/7082d574a3/Widgets-Temperature/style.css'

.inner
  %ul.list-widgets.cf
    %li
      %aside.widget
        %header
          .icon.icon-sunrise
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat
        %header
          .icon.icon-sunrise
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-grapefruit
        %header
          .icon.icon-sunrise
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-grapefruit
        %header
          .icon.icon-sunrise
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-sunflower
        %header
          .icon.icon-sun
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-sunflower
        %header
          .icon.icon-sun
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-dark-gray
        %header
          .icon.icon-moon
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-dark-gray
        %header
          .icon.icon-moon
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-aqua
        %header
          .icon.icon-cloud
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-aqua
        %header
          .icon.icon-cloud
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-blue-jeans
        %header
          .icon.icon-cloudy
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-blue-jeans
        %header
          .icon.icon-cloudy
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-grass
        %header
          .icon.icon-cloud2
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-grass
        %header
          .icon.icon-cloud2
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-pink-rose
        %header
          .icon.icon-rainy2
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-pink-rose
        %header
          .icon.icon-rainy2
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-mint
        %header
          .icon.icon-lightning3
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius
    %li
      %aside.widget.widget-flat.widget-mint
        %header
          .icon.icon-lightning3
          %h1 weather
        .content
          %span.value
            40
            %sup o
          %span.value-description celsius