%li.preview.facebook_page
  = image_tag facebook_page.avatar_square
  %h3= link_to facebook_page.name, facebook_page_path(facebook_page)
  %p
    %a.btn.btn-primary{href: "#"} Action
    %a.btn{href: "#"} Action
