%li.list-group-item.facebook-page.preview.animated.fadeInUp{ 'data-fb-pid' => facebook_page.pid }
  .row.no-gutter
    .col-xs-12.col-sm-7
      .media
        - avatar link: facebook_page_path(facebook_page), image_url: facebook_page.avatar_large
        .media-body.m-t-sm.m-b-xs
          .h4.media-heading= link_to facebook_page.name, facebook_page_path(facebook_page)
          .meta
            %p.like-count
              %i.fa.fa-thumbs-o-up.m-r-xs
              = like_count_label(facebook_page)

    .col-xs-12.col-sm-5
      .row.m-t-sm-sm.m-b-xs
        - if facebook_page.giveaways.any?
          = render 'facebook_pages/preview/stats', facebook_page: facebook_page
        - else
          .avatar-push.text-right-sm.m-r-md-sm.m-l-md-xs
            = render 'facebook_pages/navigation/primary', facebook_page: facebook_page
