default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  timeout: 5000
  username: username
  password: password
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: giveawaykit_dev

test:
  <<: *default
  database: giveawaykit_test

production:
  <<: *default
  database: giveawaykit_prod
