@import 'bourbon';

#tab_container {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

  &.gk-dark {

    .giveaway-terms {
      color: rgba(255,255,255,.6);

      a {
        color: rgba(255,255,255,.8);
      }
    }
  }

  &.gk-light {

    .giveaway-terms {
      color: rgba(0,0,0,.6);

      a {
        color: rgba(0,0,0,.8);
      }
    }
  }
}

#gk_giveaway {
  overflow: hidden;
}

.gk-version-b {

  .giveaway-widget {
    width: 553px;
    min-height: 542px;
    overflow: hidden;
    margin: 0 auto 60px;
    background-color: #fff;
    border-radius: 3px;
    @include box-shadow(0 0 3px rgba(0,0,0,.2), inset 0 2px 4px rgba(255,255,255,.3));
    position: relative;
    top: 60px;

    .giveaway-image {
      height: 226px;
      overflow: hidden;
      position: relative;

      .inset-shadow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        @include box-shadow(inset 0 2px 4px rgba(255,255,255,.3));
      }

      img {
        z-index: 1;
      }
    }

    .giveaway-meta {
      padding: 30px 40px 0;

      .giveaway-title {
        color: #324648;
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        margin: 0;
        padding-bottom: 10px;

        &:before {
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-right: 30px;
          background-color: #2dcb71;
        }
      }

      .giveaway-prize {
        color: #76888c;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        margin: 0;
        padding-left: 51px;
        padding-bottom: 26px;
      }
    }

    .giveaway-description {
      border-top: 1px solid #E7E7E7;
      border-bottom: 1px solid #E7E7E7;
      background-color: #eff2f1;
      padding: 26px 40px 26px;
      margin: 0;

      .description-text {
        padding-left: 99px;
        color: #75898d;
        font-size: 17px;
        font-weight: 300;
        margin: 0;
      }

      .avatar-wrapper {
        width: 67px;
        height: 67px;
        border: 0 none;
        border-radius: 500px;
        overflow: hidden;

        .thumb {

          &.masked.avatar {
            width: 67px;
            height: 67px;
            display: inline-block;
            overflow: hidden;
            background-position: center center !important;
            @include prefixer(background-size, cover !important, webkit moz ms o spec);
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .giveaway-actions {
      text-align: center;
      position: relative;
      height: 147px;
      @include transition(height 0.3s);

      .after-entry {
        z-index: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        @include transition(all 0.3s);

        .bg {
          opacity: 0.2;
          top: -70px;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 15;
        }

        .fg {
          position: relative;
          z-index: 20;
          color: #324648;
          font-weight: 400;
          padding: 10px 0;
          height: 310px;
          box-sizing: border-box;
          @include background-image(linear-gradient(rgba(253,253,253,0.4),rgba(247,247,247,0.4)));
        }
      }

      &.entry-complete {
        height: 310px;

        .after-entry {
          z-index: 20;
          opacity: 1;
        }

        #enter_giveaway {
          opacity: 0;
          cursor: default;
        }
      }

      .stats {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          list-style-image: none;
          list-style-type: none;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: middle;
          zoom: 1;
          margin: 0 5px;
          padding: 15px 5px;
          border: 1px solid rgba(50,70,72,.25);
          border-radius: 50px;
          width: 100px;
          height: 100px;
          box-sizing: border-box;

          small {
            padding-top: 8px;
            padding-bottom: 3px;
            font-size: 12px;
            font-weight: 400;
            display: block;
          }

          strong {
            font-weight: 400;
            font-size: 24px;
            display: block;
          }
        }
      }

      .how-to-earn {
        font-weight: 300;
      }
    }
  }

  #enter_giveaway {
    z-index: 10;
    width: 220px;
    height: 85px;
    line-height: 85px;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #2dcba1;
    margin: 31px auto;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    @include transition(all 0.3s);

    &:hover {
      background-color: shade(#2dcba1, 10%);
    }

    &:active {
      top: 2px;
    }
  }

  .giveaway-terms {
    width: 553px;
    margin: 0 auto 183px;
    padding: 20px 0;
    font-size: 13px;
    font-weight: 300;
    text-align: center;

    a {
      font-weight: 400;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .powered-by {
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
  }
}

.share-buttons {
  padding: 5px 0;

  a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 3px;
    font-size: 13px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #F0EDED;
    @include background-image(linear-gradient(to bottom, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED));
    @include box-shadow(inset 0 1px rgba(255, 255, 255, 0.35), 0 0 0 1px rgba(140, 126, 126, 0.5));
    color: #524D4D;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    font-weight: 600;
    text-decoration: none;

    &:hover,
    &.zeroclipboard-is-hover,
    &.zeroclipboard-is-active {
      @include background-image(linear-gradient(to top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED));
    }

    &.raw-shortlink {
      @include transition(all 0.3s);

      span {
        display: none;
        margin-left: 5px;
      }

      &.success {

        span {
          display: inline-block;
        }
      }
    }
  }
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-700 {
  font-weight: 700;
}

.hide {
  display: none !important;
}

a {
  outline: none !important;
}