@import 'bourbon';

#tab_container {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

  &.gk-dark {

    .giveaway-terms {
      color: rgba(255,255,255,.6);
    }
  }

  &.gk-light {

    .giveaway-terms {
      color: rgba(0,0,0,.6);
    }
  }
}

.gk-version-b {

  .giveaway-widget {
    width: 553px;
    min-height: 542px;
    overflow: hidden;
    margin: 0 auto 60px;
    background-color: #fff;
    border-radius: 3px;
    @include box-shadow(0 0 3px rgba(0,0,0,.2), inset 0 2px 4px rgba(255,255,255,.3));
    position: relative;
    top: 60px;

    .giveaway-image {
      height: 226px;
      overflow: hidden;
      position: relative;

      .inset-shadow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        @include box-shadow(inset 0 2px 4px rgba(255,255,255,.3));
      }

      img {
        z-index: 1;
      }
    }

    .giveaway-meta {
      padding: 30px 40px 0;

      .giveaway-title {
        color: #324648;
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        margin: 0;
        padding-bottom: 10px;

        &:before {
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-right: 30px;
          background-color: #2dcb71;
        }
      }

      .giveaway-prize {
        color: #76888c;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        margin: 0;
        padding-left: 51px;
        padding-bottom: 26px;
      }
    }

    .giveaway-description {
      border-top: 1px solid #E7E7E7;
      border-bottom: 1px solid #E7E7E7;
      background-color: #eff2f1;
      padding: 26px 40px 26px;
      margin: 0;

      .description-text {
        padding-left: 99px;
        color: #75898d;
        font-size: 17px;
        font-weight: 300;
        margin: 0;
      }

      .avatar-wrapper {
        width: 67px;
        height: 67px;
        border: 0 none;
        border-radius: 500px;
        overflow: hidden;

        .thumb {

          &.masked.avatar {
            width: 67px;
            height: 67px;
            display: inline-block;
            overflow: hidden;
            background-position: center center !important;
            @include prefixer(background-size, cover !important, webkit moz ms o spec);
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .giveaway-actions {
      text-align: center;
    }
  }

  #enter_giveaway {
    width: 220px;
    height: 85px;
    line-height: 85px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #2dcba1;
    margin: 31px auto;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    position: relative;
    @include transition(all 0.3s);

    &:hover {
      background-color: shade(#2dcba1, 10%);
    }

    &:active {
      top: 2px;
    }
  }

  .giveaway-terms {
    width: 553px;
    margin: 0 auto 40px;
    padding: 20px 0;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
}