%section#content
  .bg-dark.lt
    .container
      .m-b-lg.m-t-lg
        %h3.m-b-none Features
        %small.text-muted Killer features you need know
  .bg-white.b-b.b-light
    .container
      %ul.breadcrumb.no-border.bg-empty.m-b-none.m-l-n-sm
        %li= link_to 'Home', root_path
        %li.active Features
  %div
    .container.m-t-xl
      .row
        .col-sm-7
          %h2.font-thin.m-b-lg
            Fully Responsive on
            = succeed "," do
              %span.text-primary Mobile
            %span.text-primary Tablet
            and
            %span.text-primary Desktop
          %p.h4.m-b-lg.l-h-1x
            Your application will works no matter where you are, You can use your application at anywhere in the world. This template works on mobile device too.
          .row.m-b-xl
            .col-sm-6
              %i.fa.fa-fw.fa-angle-right>
              Have Any Number of Columns
            .col-sm-6
              %i.fa.fa-fw.fa-angle-right>
              Scales to Any Width
            .col-sm-6
              %i.fa.fa-fw.fa-angle-right>
              It's Smart and Easy
            .col-sm-6
              %i.fa.fa-fw.fa-angle-right>
              It Fits In with You
            .col-sm-6
              %i.fa.fa-fw.fa-angle-right>
              Take What You Need
            .col-sm-6
              %i.fa.fa-fw.fa-angle-right>
              Flexible way to create a responsive layout
          %p.clearfix  
          .row.m-b-xl
            .col-xs-2
              %i.fa.fa-desktop.fa-4x.icon-muted
            .col-xs-2
              %i.fa.fa-plus.icon-muted.m-t
            .col-xs-2
              %i.fa.fa-tablet.fa-4x.icon-muted
            .col-xs-2
              %i.fa.fa-plus.icon-muted.m-t
            .col-xs-2
              %i.fa.fa-mobile.fa-4x.icon-muted
        .col-sm-5.text-center
          %section.panel.bg-dark.inline.aside-md.no-border.device.phone.animated.fadeInRightBig
            %header.panel-heading.text-center
              %i.fa.fa-minus.fa-2x.icon-muted.m-b-n-xs.block
            .m-l-xs.m-r-xs
              #c-fade.carousel.auto.slide{"data-interval" => "3000"}
                .carousel-inner
                  .item.active.text-center
                    %img.img-full{src: "images/phone-2.png"}/
                  .item.text-center
                    %img.img-full{src: "images/phone-1.png"}/
            %footer.bg-dark.text-center.panel-footer.no-border
              %i.fa.fa-circle.icon-muted.fa-lg
  .bg-white.b-t.b-light
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-5.text-center.clearfix.m-t-xl{"data-animation" => "fadeInLeftBig", "data-ride" => "animated"}
          .h1.font-bold.m-t-xl.m-b-xl
            %span.fa-2x.icon-muted {less}
        .col-sm-7
          %h2.font-thin.m-b-lg Using LESS
          %p.h4.m-b-lg.l-h-1x
            This file provide Less css files, You can compiled the less to css files with lessphp, it provides the following mechanisms: variables, nesting, mixins, operators and functions.
          %p.m-b-xl We make the less files as Bootstrap way. you can config the variables in one place, like colors: @brand-primary, @brand-success, @border-color. and you can get the unlimited colors for your application.
          %p.m-t-xl.m-b-xl.h4
            %i.fa.fa-quote-left.fa-fw.fa-1x.icon-muted
            Less is More
  .b-t.b-light
    .container.m-t-xl
      .row
        .col-sm-7
          %h2.font-thin.m-b-lg Application Layout
          %p.h4.m-b-lg.l-h-1x
            We provide .hbox and .vbox to create the application layout. it let you create complicated layout as you want.
          %p.m-b-xl
            %a.btn.btn-sm.btn-primary.font-bold{href: "index.html"} Try it now
        .col-sm-5.text-center{"data-animation" => "fadeInUp", "data-ride" => "animated"}
          %section.panel.bg-dark.m-t-lg.m-r-n-lg.m-b-n-lg.no-border.device.animated.fadeInUp
            %header.panel-heading.text-left
              %i.fa.fa-circle.fa-fw.icon-muted
              %i.fa.fa-circle.fa-fw.icon-muted
              %i.fa.fa-circle.fa-fw.icon-muted
            %img.img-full{src: "images/main.png"}/
  .bg-white.b-t.b-light.pos-rlt
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-5.text-center.clearfix.m-t-xl{"data-animation" => "fadeInLeftBig", "data-ride" => "animated"}
          .h3.font-bold.m-t-xl.m-b-xl
            %i.fa.fa-circle.text-primary.fa-2x
            %i.fa.fa-circle.text-info.fa-2x
            %i.fa.fa-circle.text-success.fa-2x
            %i.fa.fa-circle.text-warning.fa-2x
            %i.fa.fa-circle.text-danger.fa-2x
            %i.fa.fa-circle.text-dark.fa-2x
            %i.fa.fa-circle.text-light.fa-2x
        .col-sm-7
          %h2.font-thin.m-b-lg Rich Components & Widgets
          %p.h4.m-b-lg.l-h-1x
            We create many components and widgets for your real application, we provide 8 default color palettes for you to create the colorful components.
          %ul.m-b-xl.fa-ul
            %li
              %i.fa.fa-li.fa-check.text-muted>
              369 Fontawesome icons
            %li
              %i.fa.fa-li.fa-check.text-muted>
              +30 Jquery Components
            %li
              %i.fa.fa-li.fa-check.text-muted>
              Application pages
  .b-t.b-light
    .container.m-t-xl
      .row
        .col-sm-7
          %h2.font-thin.m-b-lg Backbone Notes with Mysql & RESTful API
          %p.h4.m-b-lg.l-h-1x
            We built a Backbone Note application for your inspiration, It supports local storage and mysql data save. We also created a RESTful api to Get, Post, Put and Delete the data.
          %p.m-b-xl
            %a.btn.btn-dark.font-bold{href: "notebook.html"} Try it now
        .col-sm-5.text-center{"data-animation" => "fadeInRightBig", "data-ride" => "animated"}
          %section.panel.bg-light.m-t-lg.m-r-n-lg.m-b-n-lg.no-border.device.animated.fadeInUp
            %header.panel-heading.text-left
              %i.fa.fa-circle.fa-fw.icon-muted
              %i.fa.fa-circle.fa-fw.icon-muted
              %i.fa.fa-circle.fa-fw.icon-muted
            %img.img-full{src: "images/app.png"}/
  .b-t.b-light.pos-rlt.bg-white
    .container
      %p.m-t-xl.m-b-xl Much more features will be added in.