%section#content.features-page
  .bg-dark.lt
    .container
      .m-b-lg.m-t-lg
        %h3.m-b-none Features
        %small.text-muted Only the Features You Need
  .bg-white.b-b.b-light
    .container
      %ul.breadcrumb.no-border.bg-empty.m-b-none.m-l-n-sm
        %li= link_to 'Home', root_path
        %li.active Features
  %div.feature-row.unlimited-giveaways
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-infinity.icon-muted.visible-xs
            Unlimited Giveaways
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            With Giveaway Kit, you can run as many giveaways as you want. We don't limit you to a fixed number of giveaways per month like other services. Run a giveaway every week or even every day — it's your call.
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-infinity.icon-muted
  .bg-white.b-t.b-light.feature-row
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-free.icon-muted
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-free.icon-muted.visible-xs
            First Giveaway Free
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            With Giveaway Kit, the first giveaway is free for each of your Facebook Pages. You don't need to choose a plan or enter any payment information to run a page's first giveaway. Better yet, these free giveaways offer nearly all of the features you would get with our most powerful plan.
  .b-t.b-light.feature-row
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-analytics.icon-muted.visible-xs
            Advanced Analytics
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            We provide a rich analytics suite, which enables you to gain valuable insight into how people are interacting with your giveaways. Use these insights to gradually improve your giveaways — even while they're running.
          .row.m-b-xs-lg.hidden-xs
            .col-sm-4
              %ul.m-b-xl.fa-ul
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Views
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Likes
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Entries
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Shares
            .col-sm-6
              %ul.m-b-xl.fa-ul
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Performance Over Time
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Conversion Rates
                %li
                  %i.fa.fa-li.fa-check.text-muted>
                  Virality
            .col-sm-2
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-analytics.icon-muted
  .bg-white.b-t.b-light.pos-rlt.feature-row
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-schedule.icon-muted
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-schedule.icon-muted.visible-xs
            Scheduled Giveaways
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            With Giveaway Kit, you can schedule giveaways to start and/or end at a certain date and time. These scheduled giveaways will be automatically published to your Facebook Page at the specified start date and automatically removed at the specified end date.
  .b-t.b-light.feature-row
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-viral.icon-muted.visible-xs
            Viral Referral Tracking
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            We keep track of referrals so that you can find out which of your entrants is responsible for the greatest number of visits, likes, and entries. Even better, you can offer entrants bonus entries for referring other users, incentivizing them to share your giveaway with their network of friends.
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-viral.icon-muted
  .bg-white.b-t.b-light.pos-rlt.feature-row
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-shortlink.icon-muted
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-shortlink.icon-muted.visible-xs
            Giveaway Shortlink
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            When you start a giveaway, we provide you with a customized shortlink that you can use to share your giveaway wherever you want (website, email, other social networks). We also provide a customized shortlink for each entrant (with a unique referrer id) that enables us to track referrals even when they occur outside of Facebook.
  .b-t.b-light.feature-row
    .container
      .row.m-t-xl.m-b-xl
        .col-sm-7
          %h2.font-thin.m-b-lg
            .flaticon-white-label.icon-muted.visible-xs
            White-label
          %p.h4.m-b-lg.l-h-1x.descriptive-text
            With Giveaway Kit, all but the cheapest plan are white-label by default, meaning that your giveaways will not show any Giveaway Kit branding in the footer. This prevents competitors from discovering your choice of vendor as well as keeping the entry form clear and focused on your brand.
        .col-sm-5.text-center.clearfix.icon-col
          .flaticon-white-label.icon-muted
  .b-t.b-light.pos-rlt.bg-white
    .container
      %p.m-t-xl.m-b-xl.more-features More features are on the way — but only after they've been proven to work. That's our promise to you.