$bg-primary: #65bd77;
$bg-success: #8ec165;
$bg-info: #4cc0c1;
$bg-warning: #ffc333;
$bg-danger: #fb6b5b;
$bg-light: #f1f1f1;
$bg-dark: #2e3e4e;

$text-primary: #65bd77;
$text-info: #4cc0c1;
$text-success: #8ec165;
$text-warning: #ffc333;
$text-danger: #fb6b5b;
$text-light: #f1f1f1;
$text-white: #fff;
$text-dark: #2e3e4e;
$text-muted: #979797;
