/*
*= require ../../../vendor/assets/stylesheets/bootstrap
*= require ../../../vendor/assets/stylesheets/animate
*= require font-awesome
*= require ../../../vendor/assets/stylesheets/font
*= require ../../../vendor/assets/stylesheets/landing
*= require ../../../vendor/assets/stylesheets/app
*= require_self
*/

body.welcome {

  .headline {

    .carousel.aside {
      width: 151px;
    }
  }

  .f-w-600 {
    font-weight: 600;
  }
}

@media (max-width: 768px) {

  body.welcome {

    .headline {

      .m-r-sm {
        margin-right: 6px;
      }

      .carousel.aside {
        width: 73px;
      }
    }
  }
}