.m-t-sm-xs.m-r-sm.clearfix
  .col-xs-4
    .text-center
      %span.m-b-xs.h3.block= giveaway.page_likes_while_active
      %small.text-muted Likes
  .col-xs-4
    .text-center
      %span.m-b-xs.h3.block= giveaway.entry_count
      %small.text-muted Entries
  .col-xs-4
    .text-center
      %span.m-b-xs.h3.block= giveaway.total_shares
      %small.text-muted Shares
