%section.giveaway-image.panel.panel-default.image-panel.bleed.editable-parent
  .panel-heading.clearfix
    %h3.panel-title.pull-left.editable-label
      Giveaway Image
      %span.editable-error
    .btn-group.pull-right.editable-upload-trigger
      %a{href: "#"}
        %i.fa.fa-pencil
  .panel-body.editable-upload-trigger
    = image_tag giveaway.image.tab.url, alt: giveaway.title, class: 'center-block'
    = simple_form_for [giveaway.facebook_page, giveaway], html: { class: 'giveaway-form fluid', multipart: true } do |f|
      = f.input :image, as: :file, input_html: { class: 'filestyle', 'data-trigger' => 'change', 'data-required' => 'true', 'data-classbutton' => 'btn btn-default btn-lg', 'data-classinput' => 'form-control inline input-s', 'data-icon' => 'true', 'data-buttonText' => 'Upload', 'data-input' => 'false', 'data-classIcon' => 'fa fa-cloud-upload text'}, label: false
      = f.input :image_cache, as: :hidden

