.navbar-header.aside-md
  %a.btn.btn-link.visible-xs{"data-target" => "#nav,html", "data-toggle" => "class:nav-off-screen,open"}
    %i.fa.fa-bars
  %a.navbar-brand{href: dashboard_path}
    %i.fa.fa-gift
    Giveaway Kit
  %a.btn.btn-link.visible-xs{"data-target" => ".nav-user", "data-toggle" => "dropdown"}
    %i.fa.fa-cog
