%aside#nav.bg-dark.lter.aside-md.hidden-print
  %section.vbox
    %header.header.bg-primary.lter.text-center.clearfix
      = render 'components/new_giveaway_dropdown'
    = render 'layouts/navigation/sidebar'
    = render 'layouts/sidebar/footer'
