%aside#nav.bg-dark.lter.aside-md.hidden-print
  %section.vbox
    = render 'components/new_giveaway_dropdown' if signed_in?
    = render 'layouts/navigation/sidebar'
    = render 'layouts/sidebar/footer'
