!!!
%html{lang: "en", class: "app"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "#{FB_APP_ID}", property: "fb:app_id"}
    %title Giveaway Kit

    %meta{content: "Easily create, deploy, and manage giveaways on your Facebook pages.", name: "description"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

    = stylesheet_link_tag :widgets, media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    = yield
