- if content_for?(:page_subheading) || content_for?(:page_heading)
  .m-b-md.layouts-header

    %h3.m-b-none= yield :page_heading

    - if content_for? :page_subheading
      %small= yield :page_subheading
