%section.w-f.scrollable
  .slim-scroll{"data-color" => "#333333", "data-disable-fade-out" => "true", "data-distance" => "0", "data-height" => "auto", "data-size" => "5px"}
    %nav.nav-primary.hidden-xs
      %ul.nav
        = render 'layouts/navigation/sidebar/dashboard'
        = render 'layouts/navigation/sidebar/facebook_pages'
        = render 'layouts/navigation/sidebar/account'
        = render 'layouts/navigation/sidebar/help'
